<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>I gotta do...</title>
</head>

<body>
  <div class="wrapper">
    <form action="/" method="post">
      <div class="header">
        <span class="title">to do</span>
      </div>
      <div class="fields" id="fields">
        <input type="text" name="todo" placeholder="wut u gotta do?" />
        <button type="submit">Submit</button>
      </div>
    </form>
  </div>
  <ul>
    <li>clean my socks</li>
    <button type="button" name="complete">mark as complete</button> {{ #todo }}
    <li>{{ todo }}</li>
    <button type="submit" name="complete">mark as complete</button> {{ /todo }}
  </ul>
  <div class="error">
    <ul>
      {{ #errors }}
      <p>{{ msg }}</p>
      {{ /errors }}
    </ul>
  </div>
  <!-- <div class="complete">
    <span class="title">completed</span>
  </div>
  {{ #todo }}
  <li>{{ todo }}</li>
   {{ /todo }} -->
  </div>
</body>

</html>
